name: Go
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - name: Build
        run: go build -v ./...
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.64.5
          args: -c .golangci.yaml
